.card {
    min-height: 25rem;
    min-width: 5rem;
    display: flex;
    flex-wrap: initial;
}

.services {
    margin: auto;
    padding: 1.4rem 0;
    
}

.serviceList {
    display: flex;
    flex-wrap:initial;
    background-color: white;
    padding: 1.5rem;
    align-items: center;
}

.filterLabel {
    padding-left: 1.25rem;
    padding-right:1.25rem;
    margin: auto;
    align-items: center;
}

.p-tags {
    margin-top: 0.5rem;
    color: rgb(165, 165, 165);
    font-size: 13px;
    padding: 8px 0;
    height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .Pagination {
    text-align: center;
  }

.clearButton{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #0078d4;
}